<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | About</title>
	</head>
	<body>
		<h1>Sample app</h1>
		<p>
			About page. To contact us please feel free to send an e-mail at : trolololo@gmail.com
		</p>
	</body>
</html>
