<!DOCTYPE html>
<html>
	<head>
		<title> Ruby On Rails Tutorial Sample app | Contact </title>
	</head>
	<body>
		<h1>Sample app</h1>
		<p>
			You can contact us to : see about page /o/.
		</p>
	</body>
</html>
